<div class="feed">
    <div class="head">
        <div class="user">
            <div class="profile-photo">
                <img src="<%= post.user.avatar %>" alt="user-post">
            </div>
            <div class="ingo">
                <h3>
                    <%= post.user.name %>
                </h3>
                <small>25 Minutes Ago</small>
            </div>
        </div>
        <% if((locals.user) && (locals.user.id==post.user.id)){ %>
            <span class="edit">
                <a href="/update/deletepost/<%= post.id %>"><i class="icon uil uil-trash-alt"></i></a>
            </span>
            <% } %>
    </div>
    <div class="caption">
        <p><b>
                <%= post.user.name %>
            </b>&nbsp;&nbsp;<%= post.content %>
        </p>
    </div>
    <div class="photo">
        <% if(post.fileformat==='.jpg' || post.fileformat==='.jpeg' || post.fileformat==='.png' ||
            post.fileformat==='.gif' || post.fileformat==='.webp'|| post.fileformat==='.jfif' ){ %>
            <img src="<%= post.postimg%>" alt="Post img">
            <% }else if (post.fileformat==='.mp4' || post.fileformat==='.avi' || post.fileformat==='.mov' ||
                post.fileformat==='.wmv' ) { %>
                <video src="<%= post.postimg%>" controls></video>
                <% } %>
    </div>
    <div class="action-button">
        <div class="interaction-buttons">
            <span class="like-button"><a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle?id=<%=post._id%>&type=Post"><span><i class="likedcount icon uil uil-heart"><%= post.likes.length %></i></span></a></span>
            <span class="comment-button"><i class="icon uil uil-comment-alt-dots"></i></span>
            <span class="share-button"><i class="icon uil uil-share"></i></span>
        </div>

        <div class="bookmark">
            <span><i class="icon uil uil-bookmark"></i></span>
        </div>
    </div>
    <!-- <div class="liked-by">
        <span><img src="/story1.jpg"></span>
        <span><img src="/story2.jpg"></span>
        <span><img src="/story3.jpg"></span>
        <p>Liked by <b>post.user.name</b>and <b class="likedcount"><%= post.likes.length %></b></p>
    </div> -->
    <div class="comments text-muted">View all <%= post.comments.length %> comments </div>

    <div class="comment-container">

        <div class="comment-list">
            <!--# Comment items will be dynamically added here -->
            <% for(comment of post.comments) { %>
                <span class="comment">
                    <p><b>
                            <%=comment.user.name%>
                        </b>
                        <%= comment.content %>
                    </p>
                    <div>
                        <i class="icon uil uil-heart"></i>
                        <% if((locals.user) && (locals.user.id==comment.user.id)){ %>
                            <a href="/update/deletecomment/<%= comment.id %>"><i class="icon uil uil-trash-alt"></i></a>
                            <% } %>
                    </div>
                </span>
                <% } %>
        </div>
        <div class="com">
            <form method="POST" action="/update/createcomment" class="comment-form">
                <textarea id="comment" name="content" placeholder="Type here..." required></textarea>
                <input type="text" hidden name="post" value="<%= post.id %>">
                <button type="submit" class="btn btn-primar">Submit</button>
            </form>
        </div>
    </div>
</div>


<script src="/js/script.js"></script>