
    <div class="feed">
        <div class="head">
            <div class="user">
                <div class="profile-photo">
                    <img src="<%= post.user.avatar %>" alt="user-post">
                </div>
                <div class="ingo">
                    <h3><%= post.user.username %></h3>
                    <small>25 Minutes Ago</small>
                </div>
            </div>
            <% if((locals.user) && (locals.user.id==post.user.id)){ %>
            <span class="edit">
                <a href="/update/deletepost/<%= post.id %>"><i class="uil uil-trash-alt"></i></a>
            </span>
            <% } %>
        </div>
        <div class="caption">
            <p><b><%= post.user.username %></b>&nbsp;&nbsp;<%= post.content %></p>
        </div>
        <div class="photo">
            <img src="<%= post.postimg%>" alt="Post img">
        </div>
        <div class="action-button">
            <div class="interaction-buttons">
                <span><i class=" uil uil-heart"></i></span>
                <span onclick="comment()" ><i class="uil uil-comment-alt-dots"></i></span>
                <span><i class="uil uil-share"></i></span>
            </div> 

            <div class="bookmark">
                <span><i class="uil uil-bookmark"></i></span>
            </div>
        </div>
        
        <div class="comment-container">
            <div class="com"> 
                <form method="POST" action="/update/createcomment" class="comment-form">
                    <label value="Comment">Comment</label>
                    <textarea id="comment" name="content" placeholder="Type here..." required></textarea>
                    <input type="text" hidden name="post" value="<%= post.id %>">
                    <button type="submit" class="btn btn-primar">Submit</button>
                  </form>
            </div>
            <div class="comment-list">
              <!--# Comment items will be dynamically added here -->
                <% for(comment of post.comments) { %>
                    <span class="comment"><p><b><%=comment.user.username%></b> <%= comment.content %></p>
                        <div>
                            <i class=" uil uil-heart"></i>
                            <% if((locals.user) && (locals.user.id==comment.user.id)){ %>
                            <a href="/update/deletecomment/<%= comment.id %>"><i class="uil uil-trash-alt"></i></a>
                            <% } %>
                        </div>   
                    </span>
                <% } %>
            </div>
          </div>
        <div class="liked-by">
            <span><img src="/story1.jpg"></span>
            <span><img src="/story2.jpg"></span>
            <span><img src="/story3.jpg"></span>
            <p>Liked by <b>Advika...</b>and <b>2473 others</b></p>
        </div>
        <div class="comments text-muted">View all  277 comments </div>   
    </div>


<script src="/js/script.js"></script>